body.login{
    background-color: #FFF;
}
.logo-login{
    display: none;
}

body.login .logo-login{
    background: #FFF;
    display: block;
    margin: 0;
}

body.login .logo-login img{
    display: block;
    margin: 20px auto;
}

.login-panel{
    margin-top: 10px;
}

.navbar-toggle{
    float: left;
    margin-left: 15px;
}

.logo img{
    display: block;
    margin: auto;
}

.navbar-top-links li:last-child{
    float: right;
}

#frmCadastrar{
    display: none;
}

.cadastrar #frmLogin{
    display: none;
}

.cadastrar #frmCadastrar{
    display: block;
}

#wrapper, 
body.login .navbar, 
body.login .sidebar-nav, 
body.login .navbar-top-links {
    display: none;
}

#frmLogin .btn,
#frmCadastrar .btn{
    padding: 10px 0;
    top: 0;
    margin: 2%;
    width: 45%;
}

body.login #page-wrapper{
    margin: 0;
    min-height: 0 !important;
}

body.pace-running #wrapper{
    opacity: 0.3;
}

table .ajax i,
table .ajax-confirm i {
    font-size: 19px;
}

table .ajax-confirm i:hover {
    color: #000;
}

a.btn{
    top: -7px;
}

.img .panel-footer{
    height: 34px;
}

img{
    max-width: 100%;
}

.imgForm{
    height: auto;
    margin-bottom: 10px;
}

.imgTable tr{
    margin: 15px auto;
}

#editQuestao .radio input,
#cadQuestao .radio input,
#editQuestaoquiz .radio input,
#cadQuestaoquiz .radio input{
    margin-left: 20px;
    top: -5px;
}