body.pace-running #wrapper{
    opacity: 0.3;
}

table .ajax i,
table .ajax-confirm i {
    font-size: 19px;
}

table .ajax-confirm i:hover {
    color: #000;
}

a.btn{
    top: -7px;
}

.img .panel-footer{
    height: 34px;
}

img{
    max-width: 100%;
}

.imgForm{
    height: auto;
    margin-bottom: 10px;
}

.imgTable tr{
    margin: 15px auto;
}